In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data= pd.read_csv('C:/Users/saksh/Downloads/Mall_Customers.csv')

In [6]:
data.head

<bound method NDFrame.head of      CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [7]:
data.tail

<bound method NDFrame.tail of      CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [8]:
data.info

<bound method DataFrame.info of      CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [9]:
data.describe

<bound method NDFrame.describe of      CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [15]:
data.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income', 'Spending Score'], dtype='object')

In [12]:
data.dtypes

CustomerID                 int64
Gender                    object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [13]:
data.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [14]:
data.rename(columns={'Annual Income (k$)' : 'Annual Income', 'Spending Score (1-100)' :  'Spending Score'}, inplace=True)

In [24]:
data.drop('CustomerID' , axis =1, inplace=True)

In [18]:
data.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [19]:
data.Gender.value_counts()

Gender
Female    112
Male       88
Name: count, dtype: int64

In [25]:
data.Age.unique()

array([19, 21, 20, 23, 31, 22, 35, 64, 30, 67, 58, 24, 37, 52, 25, 46, 54,
       29, 45, 40, 60, 53, 18, 49, 42, 36, 65, 48, 50, 27, 33, 59, 47, 51,
       69, 70, 63, 43, 68, 32, 26, 57, 38, 55, 34, 66, 39, 44, 28, 56, 41],
      dtype=int64)

In [26]:
data.Age.value_counts()

Age
32    11
35     9
19     8
31     8
30     7
49     7
40     6
38     6
47     6
27     6
36     6
23     6
34     5
20     5
29     5
50     5
48     5
21     5
24     4
18     4
28     4
67     4
59     4
54     4
43     3
60     3
45     3
39     3
33     3
37     3
22     3
25     3
46     3
68     3
52     2
44     2
66     2
57     2
26     2
53     2
42     2
63     2
70     2
51     2
58     2
65     2
41     2
55     1
69     1
64     1
56     1
Name: count, dtype: int64

In [27]:
print(len(data.Age.unique()))

51

In [29]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Length: 200, dtype: bool



---

### **1. What are missing values and how do you handle them?**

**Answer:**
Missing values occur when no data value is stored for a variable or observation.
They can appear due to data entry errors, system issues, or incomplete data collection.

**Ways to handle missing values:**

* **Delete rows/columns:**
  Use `df.dropna()` when missing values are few and random.
* **Impute with mean/median/mode:**
  `df['Age'].fillna(df['Age'].mean())`
* **Forward/Backward fill:**
  `df.fillna(method='ffill')` or `bfill`
* **Model-based imputation:**
  Predict missing values using regression or KNN imputation.

---

### **2. How do you treat duplicate records?**

**Answer:**
Duplicate records are rows that appear more than once in a dataset and can distort analysis.

**To handle duplicates:**

* **Check for duplicates:**
  `df.duplicated()`
* **Remove duplicates:**
  `df.drop_duplicates(inplace=True)`
* **Keep first/last occurrence:**
  `df.drop_duplicates(keep='first')`

Duplicates are removed to maintain data accuracy and prevent biased results.

---

### **3. Difference between `dropna()` and `fillna()` in Pandas**

| Function       | Purpose                                                 | Example                                  |
| -------------- | ------------------------------------------------------- | ---------------------------------------- |
| **`dropna()`** | Removes rows or columns with missing values             | `df.dropna()`                            |
| **`fillna()`** | Replaces missing values with a specific value or method | `df.fillna(0)` or `df.fillna(df.mean())` |

**Example:**

```python
df.dropna()      # Deletes rows with NaN
df.fillna(0)     # Replaces NaN with 0
```

---

### **4. What is outlier treatment and why is it important?**

**Answer:**
Outliers are data points that differ significantly from other observations.
They can result from measurement errors or genuine variability.

**Why important:**
Outliers can skew mean, standard deviation, and affect model performance.

**Common treatment methods:**

* **Removal:** Exclude extreme outliers using IQR or Z-score.
* **Capping:** Replace outliers with boundary values.
* **Transformation:** Apply log or square-root transformations to reduce impact.

**Example (IQR method):**

```python
Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3 - Q1
df = df[~((df['Age'] < (Q1 - 1.5*IQR)) | (df['Age'] > (Q3 + 1.5*IQR)))]
```

---

### **5. Explain the process of standardizing data.**

**Answer:**
Standardization (Z-score normalization) transforms data to have **mean = 0** and **standard deviation = 1**.

**Purpose:**
To ensure all features are on the same scale — especially important for algorithms like SVM, KNN, and PCA.

**Formula:**
[
z = \frac{(x - \mu)}{\sigma}
]

**Example:**

```python
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)
```

---

### **6. How do you handle inconsistent data formats (e.g., date/time)?**

**Answer:**
Inconsistency occurs when data types or formats vary (e.g., “12/03/2024” vs “2024-03-12”).

**Solutions:**

* **Convert using Pandas:**
  `df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')`
* **Unify string cases:**
  `df['City'] = df['City'].str.lower()`
* **Strip unwanted spaces:**
  `df['Name'] = df['Name'].str.strip()`

Maintaining consistency ensures reliable comparisons and calculations.

---

### **7. What are common data cleaning challenges?**

**Answer:**

* Missing or null values
* Duplicate or inconsistent data
* Incorrect data types
* Outliers and noisy data
* Mixed data formats
* Inaccurate labeling or categorical mismatches
* Human data entry errors

---

### **8. How can you check data quality?**

**Answer:**
Data quality can be assessed using **descriptive statistics, visualization, and validation checks.**

**Methods:**

* **Check for missing values:** `df.isnull().sum()`
* **Check duplicates:** `df.duplicated().sum()`
* **Summary statistics:** `df.describe()`
* **Validate data types:** `df.dtypes`
* **Value range check:** Ensure numeric values fall within expected limits
* **Uniqueness check:** For ID or key columns

---